<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static "thesis_work/css/fav.png" %}" type="image/x-icon">
{#    <link rel="stylesheet" href="static/css/style1.css">#}

{#    <link rel="stylesheet" media="screen" href="{% static 'thesis_work/css/style.css' %}">#}
    <link rel="stylesheet" href="{% static 'thesis_work/css/style1.css' %}">

      <title>CSE400: Thesis{% block title %}{% endblock title %}</title>
  </head>
  <div>
  <body>
  <header class="header-container">
     <a href="{% url 'home' %}"> Thesis Prototype </a>
         <nav class="nav-items">
            <ul>
                <li> <a href="{% url 'home' %}">Home</a> </li>

                 <li> <a href="#"> Our Team </a> </li>
            </ul>
        </nav>
  </header>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
<!-- Footer -->
<footer class="text-center">
    <div class="text-center p-6">
    © 2021  || Made with ❤ by Shahriar Amin
    </div>
</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'thesis_work/js/particles.js' %}"></script>
    <script src="{% static 'thesis_work/js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </div>
</html>